################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/New/FileContentIndex/5659a730-f764-4fcc-9535-416bf1f83f60.vsidx
/.vs/slnx.sqlite
/.vs/New/v17/.wsuo
